@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}

.sticky-top {
    position: sticky;
    top: 0;
}

#home-page {
    background-color: aquamarine;
}

#funfacts-page {
    background-color: burlywood;
}

#recipes-page {
    background-color: coral;
}

#subscribe-page {
    background-color: darkcyan;
}

footer {
    background-color: deeppink;
}
