/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');

body {
    background-color: #0a0a0c;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #0a0a0c;
    font-family: 'Dancing Script', cursive;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    padding: 100px 0 70px;
}

h1.hero-text-1 {
    width: 40%;
    color: #ff536e;
    font-size: 23px;
    font-weight: 400;
    position: absolute;
    right: 5%;
    text-align: right;
    padding: 0;
    margin: 0;
}

h1.recipe-page-heading {
    color: #d6efcf;
}

h2.hero-text-2 {
    width: 80%;
    color: #d6efcf;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 10vh;
    left: 10%;
    text-align: center;
}

h2 {
    color: #0a0a0c;
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
}

h2.did-you-know-heading {
    margin-bottom: 20px;
}

h2.video-heading {
    color: #d6efcf;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* ------------------------------- Navigation ------------------------------- */

a.navbar-brand {
    height: 80px;
}

.delicious {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: #ff536e;
    margin-bottom: 0;
}

.monster {
    color: #d6efcf;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    left: 76px;
    bottom: 46px;
}

.navbar-dark .navbar-toggler {
    font-size: 2rem;
    border: none;
}

.navbar-dark {
    background-color: #0a0a0c;
    padding-bottom: 8px;
}

.navbar .navbar-collapse {
    text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d6efcf;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff536e;
    font-weight: 600;
}

.subscribe-btn {
    color: #0a0a0c;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: #ff536e;
    border: 0;
}

.subscribe-btn:hover {
    background-color: #d6efcf;
}

/* ------------------------------- Home Page ------------------------------- */

.hero-image {
    /* Credit - https://www.pexels.com/photo/red-strawberry-fruit-2459870/ */
    background-image: url("../images/hero-image.jpg");
    width: 100%;
    height: 80vh;
    margin-top: 96px;
    background-repeat: no-repeat;
    background-size: 90%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}

.hero-text-recipes {
    color: #ff536e;
}

a.hero-text-recipes:hover {
    color: #ff536e;
}

/* ------------------------------- Fun Facts ------------------------------- */

#funfacts-page {
    background-color: #ff536e;
}

.img-thumbnail {
    background-color: #d6efcf;
}

.my-col {
    padding: 15px;
}

.col-xs-6 {
    max-width: 50%;
}

.align-text-right {
    text-align: right;
}

.blockquote {
    padding-top: 20px;
    color: #0a0a0c;
    font-family: 'Dancing Script', cursive;
}

.blockquote-footer {
    background-color: #ff536e;
    color: #0a0a0c8e;
    padding-top: 0;
}

/* ------------------------------- Recipes ------------------------------- */

.my-col-recipes {
    padding: 15px 1px;
    max-width: 90%;
    margin: 0 auto;
}

.card {
    border: 4px solid #d6efcf;
}

.card-body {
    padding-bottom: 2rem;
}

.recipes-content {
    color: #0a0a0c;
    background-color: #d6efcf;
}

.recipe-icons {
    padding-left: 0;
    padding-right: 0;
}

.recipe-btn {
    color: #0a0a0c;
    font-weight: 600;
    background-color: #ff536e;
    border: 0;
    padding: 8px;
}

.recipe-btn:hover {
    background-color: #0a0a0c;
    color: #d6efcf;
}

/* Cerdit -> To make video responsive https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* ---------------------- */

  .video-container {
      max-width: 90%;
      padding-bottom: 40px;
  }

  .video-icon {
      padding-right: 20px;
  }

/* ------------------------------- Subscribe ------------------------------- */

#subscribe-page {
    background-color: #d6efcf;
}

.form-heading {
    font-weight: 500;
    margin-bottom: 20px;
}

.subscribe-icon {
    padding-right: 20px;
}

/* Credit -> Code Institute: Putting It All Together | Mini Project with Bootstrap 4 : Styling the Form */
.center-form {
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 30px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
}

.subscribe-btn-form:hover {
    background-color: #0a0a0c;
    color: #d6efcf;
}

/* ------------------------------- Footer ------------------------------- */

footer {
    background-color: #0a0a0c;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer p {
    color: #d6efcf;
    padding-top: 20px;
    font-size: 1rem;
}

footer .social-icons {
    font-size: xx-large;
    color: #ff536e;
    padding-left: 20px;
    padding-right: 20px;
}

/* ------------------------------- Media Queries ------------------------------- */

@media screen and (min-width: 768px) {
    .my-col {
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 80%;
    }
}

/* ------------------------------- Nav Bar ------------------------------- */

@media screen and (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        color: #d6efcf;
        font-size: 20px;
    }
}

@media (min-width: 576px) {
    a.navbar-brand {
        height: 48px;
    }
}

@media (min-width: 768px) {
    a.navbar-brand {
        height: 80px;
    }
}

/* ------------------------------- Logo ------------------------------- */

@media (min-width: 576px) {
    .delicious {
        font-size: 32px;
    }
}

@media (min-width: 576px) {
    .monster {
        font-size: 14px;
        left: 36px;
        bottom: 40px;
    }
}

@media (min-width: 768px) {
    .delicious {
        font-size: 48px;
    }
}

@media (min-width: 768px) {
    .monster {
        font-size: 16px;
        left: 76px;
        bottom: 46px;
    }
}

/* ------------------------------- Hero Image ------------------------------- */

@media (min-width: 576px) {
    .hero-image {
        margin-top: 0;
        height: 100vh;
        background-size: 60%;
        background-position: center 0;
    }
}

@media screen and (min-width: 768px) { 
    .hero-image {
        background-size: 65%;
        background-position: center;
    }
}

@media screen and (min-width: 992px) {
    .hero-image {
        background-size: 50%;
        background-position-y: top;
    }
}

/* ------------------------------- Hero Text 1 ------------------------------- */

@media screen and (min-width: 576px) { 
    h1.hero-text-1 {
        width: 22%;
        font-size: 27px;
        top: 25vh;
    }
}

@media screen and (min-width: 768px) { 
    h1.hero-text-1 {
        width: 30%;
        font-size: 50px;
        top: 16vh;
        right: 10%;
    }
}

@media screen and (min-width: 992px) { 
    h1.hero-text-1 {
        width: 20%;
        font-size: 44px;
        top: 18vh;
    }
}

@media screen and (min-width: 1200px) { 
    h1.hero-text-1 {
        width: 23%;
        font-size: 60px;
        top: 25vh;
    }
}

/* ------------------------------- Hero Text 2 ------------------------------- */

@media screen and (min-width: 576px) {
    h2.hero-text-2 {
        font-size: 12px;
        bottom: 5vh;
    }
}

@media screen and (min-width: 768px) {
    h2.hero-text-2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) { 
    h2.hero-text-2 {
        font-size: 25px;
    }
}      

/* ------------------------------- Fun Facts ------------------------------- */

@media (min-width: 576px) {
    .fun-facts-image {
        max-width: 70%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .fun-facts-image {
        max-width: 65%;
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    .fun-facts-image {
        max-width: 50%;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .fun-facts-image {
        max-width: 40%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .blockquote {
        padding-bottom: 30px;
    }
}

/* ------------------------------- Recipes ------------------------------- */

@media screen and (min-width: 768px) {
    .my-col-recipes {
        padding: 15px;
    }
}

/* ------------------------------- Video ------------------------------- */

@media screen and (min-width: 768px) {
    .video-container {
        max-width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .video-container {
        max-width: 70%;
    }
}

@media screen and (min-width: 992px) {
    .video-container {
        max-width: 60%;
    }
}

/* ------------------------------- Subscribe ------------------------------- */

@media screen and (min-width: 992px) {
    .center-form {
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/* ------------------------------- Footer ------------------------------- */

@media screen and (min-width: 576px) {
    .social-icons {
        font-size: xx-large;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 576px) {
    .footer p {
        padding-top: 30px;
        font-size: 1.2rem;
    }
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}