@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');

/* Resource - https://imagecolorpicker.com/ for choosing colours from Hero Image Strawberry */
/* Resource - https://tinyjpg.com/ - for downsizing images while retaining quality */

body {
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    padding: 20px 0 16px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

/* --------------- Navigation ------------------ */

a.navbar-brand {
    height: 80px;
}

.delicious {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: #ff536e;
    margin-bottom: 0;
}

.monster {
    color: #d6efcf;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    left: 76px;
    bottom: 46px;
}

.navbar-dark .navbar-toggler {
    font-size: 2rem;
    border: none;
}

.navbar-dark {
    background-color: #0a0a0c;
    padding-bottom: 16px;
}

.navbar .navbar-collapse {
    text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d6efcf;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff536e;
    font-weight: 600;
}

.subscribe-btn {
    color: #0a0a0c;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: #ff536e;
    border: 0;
    padding-right: 8px;
    padding-left: 8px;
}

.btn-light:hover {
    color: #0a0a0c;
    background-color:#ff536e;
}

/* ------------- Home Page -------------- */

#home-page {
    background-color: #0a0a0c;
}


.hero-image {
    /* Credit - https://www.pexels.com/photo/red-strawberry-fruit-2459870/ */
    background-image: url("../images/hero-image.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 150%;
    position: relative;
    background-attachment: fixed;
    background-position: center -200%;
}



/* -------------------- Fun Facts ------------------- */

#funfacts-page {
    background-color: #ff536e;
}

.img-thumbnail {
    background-color: #d6efcf;
    border-color: #d6efcf;
}

.my-col {
    padding: 15px;
}

.col-xs-6 {
    max-width: 50%;
}

.align-text-right {
    text-align: right;
}

.blockquote {
    padding-top: 20px;
    color: #0a0a0c;
}

.blockquote-footer {
    color: #202029;
}


/* -------------------- Recipes ------------------- */

#recipes-page {
    background-color: #d6efcf;
}





/* -------------------- Subscribe ------------------- */

#subscribe-page {
    background-color: darkcyan;
}

footer {
}

/* -------------- Media Queries ------------------- */

/* ------------- Home Page -------------- */



/* Medium devices (tablets, 768px) */
@media screen and (min-width: 768px) { 
    .hero-image {
        background-size: 110%;
        background-position: center 0;
    }
}

/* Large devices (desktops, 992px & up) */
@media screen and (min-width: 992px) { 
    .hero-image {
        background-size: 60%;
        background-position: center 26%;
    }
}

/* Medium & Large devices (768px & up) */
@media screen and (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        color: #d6efcf;
        font-size: 20px;
    }
}

/* ---------------- Fun Facts Image Sizes ------------------ */

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 95%;
    }
}

@media (min-width: 576px) {
    .fun-facts-image {
        max-width: 70%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .fun-facts-image {
        max-width: 65%;
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    .fun-facts-image {
        max-width: 50%;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .fun-facts-image {
        max-width: 40%;
        height: auto;
    }
}